.container {
  margin: 0;
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
}

.selection {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 14px;
}

.spinner_container {
  display: flex;
  justify-content: center;
  margin-top: calc(50vh - 100px);
}

.chart_container {
  margin: 0 auto;
  padding: 0 20px 20px 0;
}

.bottom_container {
  display: flex;
  justify-content: space-between;
  padding: 14px 14px 16px 18px;
}

.chart_label {
  color: rgb(37, 37, 37);
}
