.container {
  margin: 0;
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
}

.container h1 {
  margin: 0 auto 24px;
  width: 70%;
  text-align: center;
}

.entry_label {
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #eee;
  box-shadow: -2px 3px 3px -2px rgb(172, 172, 172);
  border-right: 3px solid #1890ff;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 auto 5px;
  padding: 10px 12px 10px 16px;
  width: clamp(100px, 90%, 500px);
}

.entry_label .date {
  color: rgb(59, 59, 59);
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.entry_label .time {
  margin: 0;
  color: rgb(168, 168, 168);
  display: block;
  font-size: 16px;
  margin-left: auto;
  margin-right: 8px;
}

.sets_container {
  margin: 0 auto 10px;
  width: max-content;
  min-width: 280px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  padding: 50px 56px 18px 34px;
  position: relative;
}

.volume {
  width: max-content;
  margin: 0 auto 8px;
  font-size: 18px;
  position: absolute;
  top: 14px;
  left: 22px;
}

.volume span {
  font-weight: bold;
}
